.btnContact {
  box-shadow: blue 1px 1px 15px 7px;
  border-radius: 100px 0px 0px 100px;
  background-color: transparent;
  color: white;
  width: 8vw;
  height: 5vh;
  border-color: black;
  margin-top: -10vh;
  cursor: pointer;
  margin-left: 92vw;
}

.a {
  height: 0px;
  width: 0px;
}

@media (max-width: 428px) {
  .btnContact {
    width: 30vw;
    height: 5vh;
    z-index: 10000;
    margin-top: -15vh;
    margin-left: 69.7vw;
    background-color: rgba(0, 0, 0, 0.767);
    border-color: blue;
  }
}

@media (min-height: 970px) {
  .btnContact {
    margin-left: 163.4vh;
  }
}
