.btnContact {
  box-shadow: blue 1px 1px 15px 7px;
  border-radius: 100px 0px 0px 100px;
  background-color: transparent;
  color: white;
  width: 8vw;
  height: 5vh;
  margin-top: 1vh;
  border-color: black;
  cursor: pointer;
  animation: text-blur-out 2s ease-in-out reverse both;
}

.a {
  height: 0px;
  width: 0px;
}

@media (max-width: 810px) {
  .btnContact {
    width: 26vw;
    height: 5vh;
    z-index: 1;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.767);
    border-color: blue;
  }
}

@media (min-width: 970px) {
  .btnContact {
    height: 5vh;
    z-index: 1;
    margin-top: 10vh;
    margin-left: 37vh;
    background-color: rgba(0, 0, 0, 0.767);
    border-color: blue;
  }
}
