.photo_pres {
  align-items: center;
  display: block;
  margin-top: 20%;
}
.img {
  display: flex;
  width: 27vw;
  height: 53vh;
  margin-left: 15.7%;
  margin-right: 10vh;
  border-radius: 100%;
  z-index: 1000;
  margin-bottom: 16vh;
  box-shadow: blue 1px 1px 15px 7px;
  object-fit: cover;
  /* animation: border-flicker 2s linear infinite; */

  animation: slide-in-blurred-left 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@media (min-width: 970px) {
  .img {
    display: flex;
    width: 32vw;
    height: 57vh;
    margin-top: 6.5%;
    justify-content: center;
    align-items: center;
    margin-right: 10vh;
    border-radius: 100%;
    z-index: 1000;
    margin-left: 11.6%;
    box-shadow: blue 1px 1px 15px 7px;
  }
  .photo_pres {
    display: flex;
    align-items: center;
    margin-top: 7%;
  }
}

@media (max-width: 810px) {
  .img {
    width: 60vw;
    height: 35vh;
    margin-bottom: 9%;
    margin-left: 20%;
    background-color: black;
  }
}

@media (min-width: 810px) {
  .img {
    width: 25vw;
    height: 50vh;
    margin-left: 17%;
  }
}
