.photo_pres {
  display: flex;
  align-items: center;
  margin-top: 3vh;
}
.img {
  display: flex;
  width: 27vw;
  height: 53vh;
  margin-top: 10.7%;
  margin-left: 15.5%;
  margin-right: 10vh;
  border-radius: 100%;
  z-index: 1000;
  margin-bottom: 16vh;
  box-shadow: blue 1px 1px 15px 7px;
  object-fit: cover;
}

@media (min-height: 970px) {
  .img {
    display: flex;
    width: 32vw;
    height: 57vh;
    margin-top: 6.5%;
    justify-content: center;
    align-items: center;
    margin-right: 10vh;
    border-radius: 100%;
    z-index: 1000;
    margin-left: 11.6%;
    box-shadow: blue 1px 1px 15px 7px;
  }
}

@media (max-width: 428px) {
  .img {
    width: 60vw;
    height: 30vh;
    margin-bottom: 9%;
    margin-left: 20%;
  }
  .photo_pres {
    display: block;
    margin-top: 20%;
  }
}
